Repository remarkablegames/inversion: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "npm run lint:fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

refactor(sprites): rename Player enum
  src/sprites/Player.ts
Due: none

fix(sprites): fix "AnimationManager key already exists" in Player
  src/sprites/Player.ts
Due: none

fix(scenes): try to add and play music after error
  src/scenes/Main.ts
Due: none

refactor(sprites): tidy cursor keys in Player
  src/sprites/Player.ts
Due: none

Revert "fix(scenes): try to add and play music after error"
  src/scenes/Main.ts
Due: none

fix(scenes): call load start in Main preload
  src/scenes/Main.ts
Due: none

fix(scenes): set timeout on play music to prevent race condition
  src/scenes/Main.ts
Due: none

build(nvmrc): bump Node.js version from 18 to 20
  .nvmrc
Due: none

build(package): remove unused `standard-version`
  package-lock.json
  package.json
Due: prettier --write

feat: keep inverted player state after level restart
  src/scenes/Boot.ts
  src/scenes/Main.ts
  src/sprites/Player.ts
Due: none

feat: keep inverted player state after level change
  src/scenes/Boot.ts
  src/scenes/Main.ts
  src/sprites/Player.ts
  src/sprites/index.ts
Due: none

build(package): fix 2 moderate severity vulnerabilities
  package-lock.json
Due: prettier --write

docs(readme): document upload process
  README.md
Due: prettier --write

docs(readme): improve upload instructions
  README.md
Due: prettier --write

docs(readme): tidy README.md
  README.md
Due: prettier --write

chore(public): update noscript text
  public/index.html
Due: prettier --write

Deploying to gh-pages from @ remarkablegames/inversion@c7f519d16f63ecbd9189a73860f67fcd6bda9423 🚀
  index.html
Due: prettier --write

fix(public): add og:image
  public/index.html
Due: prettier --write

Deploying to gh-pages from @ remarkablegames/inversion@1c0b1bc37fe0054a39ee729998561e06588a003b 🚀
  index.html
Due: prettier --write

docs(readme): add status badges
  README.md
Due: prettier --write

docs(readme): tidy badge
  README.md
Due: prettier --write

refactor: move github-corners from index.html to utils
  public/index.html
  src/typings.d.ts
  src/utils/github-corners.ts
Due: prettier --write

Deploying to gh-pages from @ remarkablegames/inversion@7d10310543f6d994b75c4abd6f27967fe3665c3e 🚀
  index.1a2e8ad5.js
  index.1a2e8ad5.js.map
  index.3c94bfd0.js
  index.3c94bfd0.js.map
  index.html
Due: npm run lint:fix, prettier --write

build: add bundle script
  README.md
  package.json
  scripts/bundle.sh
Due: prettier --write

ci(github): upload to itch.io in workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(husky): migrate to husky 9
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

refactor: fix TypeScript error in index.ts
  src/index.ts
Due: none

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write
