Repository remarkablegames/inversion: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "npm run lint:fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

ci(github): use gitploy-action in build.yml
  .github/workflows/build.yml
Due: prettier --write

chore(github): create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore(github): delete FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

build: migrate from parcel to vite
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  .gitignore
  index.html
  package-lock.json
  package.json
  scripts/bundle.sh
  src/index.ts
  src/utils/github-corners.ts
  src/vite-env.d.ts
  vite.config.mts
Due: prettier --write

build(package-lock): bump lockfileVersion from 2 to 3
  package-lock.json
Due: prettier --write

build(package): bump @typescript-eslint/parser from 8.32.1 to 8.38.0
  package-lock.json
  package.json
Due: prettier --write

build(nvmrc): bump Node.js version from 20 to 22
  .nvmrc
Due: none

ci(github): fix workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

build: deploy fdc2eff206f20ff8a51cb14477cb7a0f66b9402a to gh-pages
  assets/0x72-industrial-player-32px-extruded-C-P_XYOQ.png
  assets/0x72-industrial-spike-DNiwzzQ3.png
  assets/0x72-industrial-tileset-32px-extruded-B--V2T79.png
  assets/A1-v05Mgjwf.ogg
  assets/A2-BWYVDMAE.ogg
  assets/A3-BmXftdt6.ogg
  assets/A4-BvleTETg.ogg
  assets/A5-DyHEqqCh.ogg
  assets/A6-SKfQbUHB.ogg
  assets/A7-6AlHP6oV.ogg
  assets/A8-DEroYlvY.ogg
  assets/C1-BlVVLkhk.ogg
  assets/C2-CprEPKJ4.ogg
  assets/C3-C0fQAiCE.ogg
  assets/box-Ce6RBJ_L.png
  assets/index-CUvIqN7L.js
  assets/jump-BZvEPTH2.ogg
  assets/lose-Q9zqrIgu.ogg
  assets/win-4K-AEkHL.ogg
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
  style.css
Due: npm run lint:fix, prettier --write

ci(github): tidy permissions in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

build: deploy ee08e1945dbb2935e8aeb5ecc481cd055f6af28d to gh-pages
  assets/0x72-industrial-player-32px-extruded-C-P_XYOQ.png
  assets/0x72-industrial-spike-DNiwzzQ3.png
  assets/0x72-industrial-tileset-32px-extruded-B--V2T79.png
  assets/A1-v05Mgjwf.ogg
  assets/A2-BWYVDMAE.ogg
  assets/A3-BmXftdt6.ogg
  assets/A4-BvleTETg.ogg
  assets/A5-DyHEqqCh.ogg
  assets/A6-SKfQbUHB.ogg
  assets/A7-6AlHP6oV.ogg
  assets/A8-DEroYlvY.ogg
  assets/C1-BlVVLkhk.ogg
  assets/C2-CprEPKJ4.ogg
  assets/C3-C0fQAiCE.ogg
  assets/box-Ce6RBJ_L.png
  assets/index-CUvIqN7L.js
  assets/jump-BZvEPTH2.ogg
  assets/lose-Q9zqrIgu.ogg
  assets/win-4K-AEkHL.ogg
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
  style.css
Due: npm run lint:fix, prettier --write

docs(readme): add release link
  README.md
Due: prettier --write

build: deploy 666f91777d7b33c940a09de70f02a9cab39e7b10 to gh-pages
  assets/0x72-industrial-player-32px-extruded-C-P_XYOQ.png
  assets/0x72-industrial-spike-DNiwzzQ3.png
  assets/0x72-industrial-tileset-32px-extruded-B--V2T79.png
  assets/A1-v05Mgjwf.ogg
  assets/A2-BWYVDMAE.ogg
  assets/A3-BmXftdt6.ogg
  assets/A4-BvleTETg.ogg
  assets/A5-DyHEqqCh.ogg
  assets/A6-SKfQbUHB.ogg
  assets/A7-6AlHP6oV.ogg
  assets/A8-DEroYlvY.ogg
  assets/C1-BlVVLkhk.ogg
  assets/C2-CprEPKJ4.ogg
  assets/C3-C0fQAiCE.ogg
  assets/box-Ce6RBJ_L.png
  assets/index-4eDUKFt-.js
  assets/jump-BZvEPTH2.ogg
  assets/lose-Q9zqrIgu.ogg
  assets/win-4K-AEkHL.ogg
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
  style.css
Due: npm run lint:fix, prettier --write
